
body {
  background-image: url('https://cdn.wallpapersafari.com/61/78/W0PNcJ.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.font-white{
	color: white;
}

.red-font{
	color: red;
}
