body {
	background-image:
		url('https://png.pngtree.com/thumb_back/fw800/back_our/20190628/ourmid/pngtree-bright-light-background-image_281010.jpg');
	background-repeat: repeat;
	background-attachment: fixed;
	background-position: center;
}

.font-white {
	color: white;
}

.red-font {
	color: red;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
}