
body {
  background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20190221/ourmid/pngtree-texture-geometric-black-metal-gradient-image_17809.jpg');
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
}

.font-white{
	color: white;
}

.red-font{
	color: red;
}

.green-button{
	background-color: green;
	color: white;
}

.center {
  margin: auto;
  width: 60%;
  text-align: center;
  padding : 20px
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}