
html, body {
	background-image: linear-gradient(135deg, #7D91DB 0%, #E0B0E1 100%);
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
}

img {
	box-shadow: 0 15px 30px -10px black;
	border-radius: 40px;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
}

header {
	background-image: linear-gradient(to right, rgba(25, 39, 232, 0.9),	rgba(230, 39, 102, 0.7));
	text-shadow: 0 5px 10px #000000;
	box-shadow: 0 15px 30px -10px grey;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	padding: 1.5rem;
	font-family: cursive;
	font-weight: bold;
	text-align: center;
	color: white;
	display: grid;
	place-items: center;
}